:root{
    --background: #ededf6;
    --navBar: #31343d;
    --boxes: #92cccd;
    --bodyText:#445876;
    
}
html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--background);
}
img.banner{
    height: 300px;
    width: 100%;
    margin: 0%;
    margin-top: 30px;
    padding: 0%;
}
.banners{
    position: relative;
    width: 100%;
}
header{
    background-color: var(--navBar);
    padding: 2px;
    position: relative;
    width: 100%;
}
header h1{
    font-size: 50px;
    background-color: var(--boxes);
    padding-left: 50px;
    display: inline;
    color: var(--navBar);
    margin-bottom: 20px;
}
nav{
    display:flex;
    color:var(--boxes);
    text-decoration:underline 5px;
    float: right;
    margin-right: 15px;
}

.profile{
    height:200px ;
    width: 400px;
    position: absolute;
    top: 75px;
    right: 50px;
}

.aboutMe{
    color: var(--bodyText);
    margin-left: 50px;
    
    display: table-row;
}
.aboutMe h1{
    margin-right: 10px;
    font-size: 60px;
    padding-left: 100px;
    padding-bottom: 50px;
}
.aboutMe div{
    padding-left: 50px;
    border-left: solid var(--bodyText);
}

.aboutMe p {
    margin-top: 30px;
}
.work{
    color: var(--bodyText);
    margin-left: 50px;
    display: table-row;
}
.table{
    display: table-cell;
}
.work h1{
    margin-right: 10px;
    font-size: 60px;
    padding-left: 100px;
}
.work div {
    margin-top: 30px;
    
  
}
#pics{
    border-left: solid var(--bodyText);
    padding-left: 10px;
}
.bigpic{
    margin-right: 50px;
    width: 1000px;
    height: 500px;
}
.bigpic:hover{
    opacity: 50%;
}
.smolpic{
    width: 500px;
    height: 200px;
    display: table-cell;
}
.smolpic:hover{
    opacity: 50%;
}
.contactMe{
    display: table-row;
    color: var(--bodyText);
    margin-left: 50px;
}
.contactMe h1{
    margin-right: 10px;
    font-size: 60px;
    padding-left: 100px;
}
.contactMe div {
    margin-top: 30px;
    border-left: solid var(--bodyText);
    padding-left: 10px;
    display: flex;
    text-align: center;
    text-decoration: none;
}
.pic1text{
    position: relative;
}

@media (max-width: 500px){
    .table{
        display: inline;
    }
    /*About me section*/
    .aboutMe{
        margin-left: 0px;
        display:inline
    }
    .aboutMe h1{
        margin-right: 0px;
        font-size: 60px;
        text-align: center;
        text-decoration: underline solid var(--bodyText);
        padding-bottom: 0px;
    }
    .aboutMe div{
        padding-left: 0px;
        border-left: none;
    }
    .aboutMe p {
        margin-top: 10px;
    }
    /*Work section*/
    .work{
        color: var(--bodyText);
        margin-left: 50px;
        display: table-row;
    }
    .work h1{
        margin-right: 10px;
        font-size: 60px;
        padding-left: 100px;
    }
    .work div {
        margin-top: 30px;
    }
    #pics{
        border-left: none;
        padding-left: 10px;
    }
    .bigpic{
        margin-right: 50px;
        width: 500px;
        height: 250px;
    }
    .bigpic:hover{
        opacity: 50%;
    }
    .smolpic{
        width: 500px;
        height: 200px;
        display: table-cell;
    }
    .smolpic:hover{
        opacity: 50%;
    }
    /*Contact me section*/
}